.post-common {
  padding: 1rem 2rem;
}
.post-container {
  text-align: center;
  padding: 2.5rem 3rem;
  .comment-area {
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
}
.favorite-icon {
  position: absolute;
  right: 0;
  color: #FF2400;
  cursor: pointer;
}